.header{
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url("/img/woman-in-orange-shirt-with-tattoo-on-her-left-hand-4125670.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    &__container{
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        &--title{
            color: #fff;
            font-weight: 700;
            font-size: 4.2rem;
            letter-spacing: 1px;
            line-height: 5rem;
        }

        &--subtitle{
            color: #fff;
            font-size: 1.8rem;
            font-weight: 280;
            padding: 1rem 0;


        }



    }




}