.btn{
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 14px 34px;
    font-size: 1.8rem;

        &--primary{
            background: $primary;
            transition: background .3s ease-out;
            &:hover{
                background: rgb(253, 2, 241);
            }
        }

        &--rounded{
            border-radius: 250px;
        }
}





