body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased!important;
    
}
.title{
    font-size: 3.2rem;
    font-weight: 300;
    color: #333;
}

.subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: #777;
    line-height: 3rem;
}